[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0.2"
ansible-core = "==2.17.7"
ansible-runner = "==2.4.0"
dynaconf = "==3.2.6"
loguru = "==0.7.2"
pynetbox = "==7.4.1"
typer = "==0.15.0"
yamale = "==5.2.1"
