CONNECTIONS = "example/connections"
DEVICETYPE_LIBRARY = "example/devicetype-library"
IGNORE_SSL_ERRORS = true
RESOURCES = "example/resources"
TOKEN = ""
URL = "https://XXX.netbox.regio.digital"
VERBOSE = true
